<div id="album" *ngIf="album">
        <header class="album-header">
            <div class="row">   
              <div class="col-md-6">
                  <div *ngIf="album.images.length > 0">
                      <img src="{{album.images[0].url}}" class="album-thumb">
                  </div>
              </div>
              <div class="col-md-5">
                    <h4 *ngIf="album.artists.length > 0"><span *ngFor="let artist of album.artists">
                      {{artist.name}}
                    </span></h4>
                    <h2>{{album.name}}</h2>
                    <h5>Release Date: {{album.release_date}}</h5>
                    <a class="btn btn-primary" href="{{album.external_urls.spotify}}" target="_blank">View in Spotify</a>
              </div>
            </div>
        </header>
        <div class="album-tracks mt-4">
          <h2>Album Tracks</h2>
          <div class="mt-3 ml-lg-2" *ngFor="let track of album.tracks.items">
              <div class="well">
                <h5>{{track.track_number}} - {{track.name}}</h5>
                <a href="{{track.external_urls.spotify}}" target="_blank">Listen Track</a>
              </div>
          </div>
        </div>
</div>
